* {
    box-sizing: border-box;
}
  
body {
    font-family: helvetica, arial, sans-serif;
}

h1 {
    font-weight: bold;
    color: #ff0080;
}

.container {
    margin: auto;
    width: 30em;
    text-align: center;
}

@media (max-width: 33em) {
    .container {
        width: 95%;
    }
}

a {
    border: 3px solid cyan;
    padding: 1em;
    background-color: pink;
    color: black;
    font-weight: 600;
    display: block;
    text-decoration: none;
    transition: background-color 0.1s ease;
    margin-bottom: 1em;
}

a:hover {
    background-color: hotpink;
    transition: background-color 0.1s ease;
}

a:active {
    background-color: pink;
    transition: background-color 0.1s ease;
}

@media (prefers-reduced-motion) {
    a {
        transition: none !important;
    }
}

a > p {
    margin: 0;
}

a > p:not(.subtitle) {
    font-size: 1.25em;
    margin-bottom: 0;
}

.subtitle {
    font-weight: 300;
    font-size: 0.75em;
}
