name: Label sync

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *" # at 00:00

jobs:
  sync_labels:
      - uses: actions/checkout@v3
      - name: Label Sync Action
        uses: srealmoreno/label-sync-action@v1.0.2
        with:
            token: ${{ secrets.ACCESS_TOKEN }}
            clean-labels: false
            repositories: |
                OrcaCollective/OpenOversight
                OrcaCollective/1-312-hows-my-driving
                OrcaCollective/techbloc-airflow
                OrcaCollective/spd-data-watch
                OrcaCollective/techbloc-directory
                OrcaCollective/pra-request-tracker
                OrcaCollective/jils-monitor
                OrcaCollective/spd-lookup
                OrcaCollective/not911.me
                OrcaCollective/radio-chaser
                OrcaCollective/umbrella-openmhz-encrypted
